<% if user_signed_in? %>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    
    <%= link_to "ログアウトする", destroy_user_session_path, { method: :delete, class: "btn btn-outline-secondary"} %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/items/new"><i class="far fa-file-alt"></i> 投稿する<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/items/show"><i class="fas fa-map-marker-alt"></i> マップから探す <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/items" tabindex="-1" aria-disabled="true"><i class="far fa-list-alt"></i> 投稿一覧から探す</a>
          </ul>
      </div>
    </nav>
  </header>







  <style>
#map {
  height: 1000px;
  width: 1500px;
}
</style>





<%# mapを表示する領域を設定する %>
<div id="map"></div>



<script>

var map;
var marker = [];
var infoWindow = [];
var markerData = [ // マーカーを立てる場所名・緯度・経度
 {
        name: 'なないろ動物病院',
     lat: 35.7245685,
     lng: 139.7551733
 }, {
        name: 'プーアル動物病院',
     lat: 35.723138,
     lng: 139.7554333
 }, {
        name: 'パティ動物病院',
     lat: 35.721013,
     lng: 139.7322263
 },  {
        name: 'アニム動物病院',
     lat: 35.7196696,
     lng: 139.7485086
 },  {
        name: '小石川動物病院',
     lat: 35.7179968,
     lng: 139.7358872
 },  {
        name: 'ユナイテッド文京パーク動物病院',
     lat: 35.714224,
     lng: 139.7468953
 },  {
        name: 'かねまき動物病院',
     lat: 35.7114241,
     lng: 139.7517372
 },  {
        name: 'トライアングル動物眼科診療室',
     lat: 35.710864,
     lng: 139.7429593
 },  {
        name: '本郷獣医科病院',
     lat: 35.708193,
     lng: 139.7616913
 },  {
        name: 'レプタイルクリニック',
     lat: 35.703121,
     lng: 139.7598443
 }  
];
  
function initMap() {
 // 地図の作成
    var mapLatLng = new google.maps.LatLng({lat: markerData[0]['lat'], lng: markerData[0]['lng']}); // 緯度経度のデータ作成
   map = new google.maps.Map(document.getElementById('map'), { // #sampleに地図を埋め込む
 center: { // 地図の中心を指定
           lat: 35.7171289, // 緯度
          lng: 139.7472108 // 経度
       },
      zoom: 15 // 地図のズームを指定
   });
 



 // マーカー毎の処理
 for (var i = 0; i < markerData.length; i++) {
        markerLatLng = new google.maps.LatLng({lat: markerData[i]['lat'], lng: markerData[i]['lng']}); // 緯度経度のデータ作成
        marker[i] = new google.maps.Marker({ // マーカーの追加
         position: markerLatLng, // マーカーを立てる位置を指定
            map: map // マーカーを立てる地図を指定
       });
  
     infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
         content: '<div class="map">' + markerData[i]['name'] + '</div>' // 吹き出しに表示する内容
       });
  




  
     markerEvent(i); // マーカーにクリックイベントを追加
 }
}
  
// マーカーにクリックイベントを追加
function markerEvent(i) {
    marker[i].addListener('click', function() { // マーカーをクリックしたとき
      infoWindow[i].open(map, marker[i]); // 吹き出しの表示
  });
}

</script>

    <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyAL14t32zvv8X4GbyT1ES9_GQrngXfWgAU&&callback=initMap" async defer></script>

<!-- @user.itemsに変更 -->





    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: 'post' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
    <% end %>




